@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:ital,wght@0,300;0,400;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}
.nav-links ul li {
  display: inline-block;
  list-style: none;
  margin-left: 30px;
}
.nav-links ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
/* main */
.header-elements-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.header-text-box {
  width: 50%;
}
.header-text-box h1 {
  text-transform: capitalize;
}
.header-btn {
  background-color: rgb(248, 87, 141);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
}
.header-image {
  background-image: url("images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  width: 40%;
}
.header-image img {
  width: 100%;
}
.sites-logo {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-top: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(244, 244, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* popular-collection */
.collection-container {
  width: 80%;
  margin: 0 auto;
}
.c-heading {
  width: 50%;
  margin: 8% auto;
  text-align: center;
}
.c-heading h1 {
  font-size: 30px;
}
.collection-elements-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection-content-box {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(228, 228, 228);
}
.c-text-box p {
  font-weight: 700;
}
.c-image img {
  width: 100%;
}
.fa-star {
  color: orange;
}
.see-more-btn {
  width: 80%;
  margin: 5% auto;
  padding: 0 35px 0 0;
}
.see-more-btn a {
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 17px;
  color: rgb(255, 98, 150);
  font-weight: 700;
}
.feature-box {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.f-image,
.f-text-box {
  width: 50%;
}
.f-image img {
  width: 90%;
}
.f-text-box h1 {
  margin-bottom: 10px;
}
.f-text-box p {
  margin-bottom: 10px;
}

.f-btn {
  display: inline-block;
  background-color: rgb(255, 98, 150);
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
}
footer {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5%;
  text-align: center;
}
footer p {
  margin-top: 10px;
}
.fa-brands {
  color: black;
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
  background-color: rgb(204, 204, 204);
  border-radius: 50px;
  padding: 10px;
}
